name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Zip Package
        run: |
          zip -r lektr.koplugin.zip . -x '*.git*' 'llms.txt' 'robots.txt'

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: lektr.koplugin.zip
          generate_release_notes: true
